 body {
   background: #F2F2F2;
 }

 .slider {
   max-width: 1120px;
   margin: 0 auto;
 }

 .slider__wrapper {
   padding-left: 32px;
   padding-right: 32px;
   margin-bottom: 24px;
 }

 .slider__header {
   font-family: 'TT Lakes';
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.2px;
   font-weight: normal;
   text-transform: uppercase;
   color: #7E7E82;
   background-color: #FFFFFF;
   padding-top: 16px;
   padding-bottom: 16px;
   padding-left: 24px;
   margin: 0 0 24px 0;
 }

 .slider__items {
   margin-bottom: 16px;
 }

 .slider__item {
   display: flex;
   width: 224px;
   height: 72px;
   background: #FFFFFF;
   margin-bottom: 16px;
   align-items: center;
   border: 1px solid #EAEAEA;
   border-radius: 6px;
 }

 .slider__link {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 24px;
 }

 .slider__icon {
   background: url('../assets/images/slider/arrow.svg');
   width: 40px;
   height: 40px;
   margin-right: 15px;
 }

 .slider-btn {
   font-family: 'TT Lakes';
   font-weight: bold;
   margin-left: 25px;
   margin-top: 20px;
   display: none;
 }

 .slider-btn__button {
   display: flex;
   align-items: center;
 }

 .slider-btn__icon::before {
   content: url("../assets/images/expand.svg");
   display: block;
   margin-bottom: -6px;
 }

 .icon-rotate {
   transform: rotate(180deg);
 }

 .container-for-hiden {
   max-height: 180px;
 }

 .hidden {
   overflow: hidden;
 }

 /* Мобильный экран */
 @media screen and (max-width: 768px) and (min-width: 320px) {}

 /* Планшетный экран */
 @media screen and (min-width: 768px) and (max-width: 1120px) {
   .slider__wrapper {
     margin-bottom: 0;
   }

   .slider__items {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(220px, max-content));
     gap: 10px;
   }

   .slider__item {
     width: 224px;
     margin-right: 8px;
   }

   .slider-btn {
     display: flex;
   }

   .btn-for-close {
     margin-top: 200px;
   }
 }

 /* Максимальный экран */
 @media screen and (min-width: 1120px) {
   .slider__items {
     display: grid;
     grid-template-columns: repeat(4, 240px);
     gap: 10px;
   }

   .slider-btn {
     display: flex;
   }

   .btn-for-close {
     margin-top: 100px;
   }
 }