@import url(/style/fonts.css);

* {
   
  
  font-family: 'TT Lakes';
  font-size: 16px;
}

a{
  color: #1B1C21
}


.menu-left{
 
  width: 320px;
}
.menu-left__wrapper{
background: #FFFFFF;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
   
   
}

.menu-left-top{
  display: flex;
  align-items: center;
}
.menu-left__top{
padding-top: 19px;
margin-bottom: 50px;

  
}

.menu-left-top__button{
background: url(/assets/images/menuleft/burgerclose.svg);
width: 40px;
height: 40px;
margin: 23px 16px 0 23px;
}
.menu-left__logo{
  margin: 19px 78px 0 0;
}

.menu-left__search-btn{
background: url(/assets/images/menuleft//search.svg);
width: 40px;
height: 40px;
margin-top: 23px;
margin-right: 24px;

}
.menu-left__menu{
  margin-bottom: 268px;
}
.menu-left__items{
  margin-left: 24px;
}

.menu-left__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-left__link{
color: black;
font-family: 'TT Lakes';
font-size: 16px;
line-height: 24px;
font-weight: 500;

}
.menu-left__footer{
  margin-left: 24px;
  padding-bottom: 1px;
}

.icon-contact-menu-left {
  margin-bottom: 16px;
}

.icon-contact-menu-left__item:not(:first-child){
  margin-left: 16px;
}

.icon-contact-menu-left__phone {
  background: url(/assets/images/call.svg);
  width: 40px;
  height: 40px;

}

.icon-contact-menu-left__chat {
  background: url(/assets/images/chat.svg);
  width: 40px;
  height: 40px;
}

.icon-contact-menu-left__profile {
  background: url(/assets/images/profile.svg);
  width: 40px;
  height: 40px;
}

.menu-left__mail{
  line-height: 24px;
  margin-bottom: 12px;
}
.menu-left__footer-number{
  margin-bottom: 40px;
}
.menu-left__footer-number a{
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.menu-left__footer-lang{
  margin-bottom: 24px;
}